*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(backgound-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
main{
    border: 4px white solid;
    border-radius: 12px;
    width: 320px;
    height: 490px;
    margin: 14vh auto;
}

#calculator-display{
    height: 29%;
    border: 2px solid black;
    border-radius: 12px;
    margin: 5px 10px;
    margin-top: 10px;
    background-color: rgba(0, 0, 19, 0.75);
    
}
.history{
    color: rgb(107, 107, 107);
    font-size: 40px;
    text-align: right;
    font-weight: 500;
    height: 30%;
    margin-right: 10px;
    overflow: hidden;
}
.current{
    color: white;
    font-size: 40px;
    text-align: right;
    height: 70%; 
    margin-right: 5px;
    overflow: hidden;
}
#calculator-body{
    height: 71%;
}
.raws{
    margin-left: 10px;
}
button{
    width: 22%;
    height: 60px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    margin: 2px;
}

#equal{
    width: 46.5%;
    background-color: rgb(255, 238, 0);

}
#ac{
    width: 46.5%;
    background-color: rgb(253, 7, 60);
}
#c{
    background-color: greenyellow;
}
button:hover{
    background-color: rgb(255, 157, 0);
    color: white;
}
#equal:hover{
    background-color: white;
    color: rgb(255, 81, 0);
}
#ac:hover{
    background-color: white;
    color:  rgb(253, 7, 60);
}
#c:hover{
    background-color: white;
    color: rgb(149, 248, 0);
}